body{
    background-color: #F0E3E3;
  }
  h1{
    text-align: left;
    font-family: sans-serif;
    font-size: 32px;
    color:rgb(35, 15, 15);
  }
  label{
    text-align: left;
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(35, 15, 15);
  }
  button {
    border : 3px solid #B54343;
    color: #000000;
    text-align: center;
    font-family: sans-serif;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
  }
  .button1 {
    padding: 20px 40px;
    margin: 4px 2px;
    float: left;
  }
  .button2 {
    padding: 20px 40px;
    margin: 4px 2px;
  } 
  button:hover {
    background-color: #B54343;
    color: rgb(35, 15, 15);
  }