       h1 {
            font-size: 36px;
        }

       body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: left;
            color: #B54343;
            transition: background-image 0.5s ease, color 0.5s ease;
            background-color: #F0E3E3;
        }


         .quiz-container {
            width: 80%;
            max-width: 800px;
            padding: 20px;
            text-align: left;
        }


        .question {
            font-size: 24px;
            margin-bottom: 15px;
        }

        .options {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 20px;
        }

        .option {
            border: none;
            border-radius: 10px;
            padding: 30px;
            font-size: 20px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .option:hover {
            transform: scale(1.05);
            background-color: #B54343;
            color: white;
        }

        #timer {
            font-size: 20px;
            margin-bottom: 10px;
        }

        #progress-container {
            width: 100%;
            background-color: rgba(155, 155, 155, 0.3);
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 20px;
        }

        #progress-bar {
            height: 10px;
            transition: width 1s linear;
            background-color: #B54343;
        }

        .result {
            font-size: 24px;
            margin-top: 20px;
        }

        .hidden {
            display: none;
        }
        button {
            border : 3px solid #B54343;
            color: #000000;
            padding: 20px 70px;
            text-align: center;
            font-family: Candara, sans-serif;
            border-radius: 12px;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            font-style: none;
            margin: 4px 2px;
            cursor: pointer;
          }
          button:hover {
            background-color: #B54343;
            color: rgb(35, 15, 15);
        }
